<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral" />
  </configSections>
  <dataConfiguration defaultDatabase="StatsConnectionString" />

  <connectionStrings>
    <!--<add name="StatsConnectionString" connectionString="server=192.168.230.138;user id=root;password=ulaysiP801;database=secdns_dev;Allow Zero Datetime=True;" providerName="MySql.Data.MySqlClient" />
    <add name="ProdConnectionString" connectionString="server=192.168.230.138;user id=root;password=ulaysiP801;database=secdns_dev;Allow Zero Datetime=True;" providerName="MySql.Data.MySqlClient" />-->
    <add name="StatsConnectionString" connectionString="server=192.168.231.56;user id=admin;password=screenDNS#11;database=screenDNS;Allow Zero Datetime=True;" providerName="MySql.Data.MySqlClient" />
    <add name="ProdConnectionString" connectionString="server=192.168.231.56;user id=admin;password=screenDNS#11;database=screenDNS;Allow Zero Datetime=True;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

  <appSettings>
    <!-- Start : Email Configuration -->
    <add key ="SmtpClient" value="192.168.230.36"/>
    <add key="EmailWebMaster" value="rss_watcher@avauntguard.com"/>
    <add key="RSSClient" value="dco@avauntguard.com"/>
    <!-- End : Email Configuration -->
  </appSettings>

</configuration>